        









/*for custom radio buttons label alignment*/
/*.custom-control {position:relative;}
.custom-control .custom-control-label {display:block;}
.custom-control label:last-child{position:relative;top:-5px;left:-2px;}*/
/*for custom radio buttons label alignment*/



/*******************/


/******************/

/*Gaurav Dhiman*/


