body{color:#303030;}
.theme-secondary{background: #333335;}
.theme-primary{background: #525f65;}
.theme_text-color{color:#303030;}
.theme_body{background:#fff;}

.juda-header-bg{background: #4f4f4f;}
.juda-body-bg{background: #454545;}
.juda-menu-container .menu-box:nth-child(5n+1) ul li a {background: #7bb3ca;}
.juda-menu-container .menu-box:nth-child(5n+2) ul li a {background: #d3d0ef;}
.juda-menu-container .menu-box:nth-child(5n+3) ul li a {background: #ffe18b;}
.juda-menu-container .menu-box:nth-child(5n+4) ul li a {background: #a6cdb2;}
.juda-menu-container .menu-box:nth-child(5n+5) ul li a {background: #92ced9;}

.juda-menu-container .menu-box:nth-child(5n+1) ul li a:hover {background: #6092a6;}
.juda-menu-container .menu-box:nth-child(5n+2) ul li a:hover {background: #83809f;}
.juda-menu-container .menu-box:nth-child(5n+3) ul li a:hover {background: #9f812b;}
.juda-menu-container .menu-box:nth-child(5n+4) ul li a:hover {background: #567d62;}
.juda-menu-container .menu-box:nth-child(5n+5) ul li a:hover {background: #427e89;}

.p-action-btn{border-left: 2px solid #4d5a60;}
.Resolve-t{border-left: 2px solid #4d5a60;}
.p-action-btn:hover{background: #4a565c;}
.left-tab li a{	color: #303030;}
.left-menu.active{background: #525f65 !important; color:#fff !important;}
.left-menu:hover{background: #525f65; color:#fff !important;}
.one_wid{background: #edf7ff !important; border-color: #23a5fd !important;}
.one_wid h3{color: #23a5fd !important;}
.two_wid{background: #fff8df !important; border-color: #dbb429 !important;}
.two_wid h3{color: #dbb429 !important;}
.three_wid{background: #eef7f9 !important; border-color: #37b8df !important;}
.three_wid h3{color: #37b8df !important;}
.four_wid{background: #fff4e8 !important; border-color: #c49e71 !important;}
.four_wid h3{color: #c49e71 !important;}
.five_wid{background: #eaeeff !important; border-color: #8892d0 !important;}
.five_wid h3{color: #8892d0 !important;}
.six_wid {background: #eaf9f8 !important;border-color: #57aea6 !important;}
.six_wid h3 {color: #57aea6 !important;}
.dashbord-widget li h3 span{	color: #6d767d;}
footer .contri_translate {	background-color: #252525;	color: #fff;}
footer {	background: #424242;}
footer .copyright {	color: #fff;}
footer ul li a {	color: #FCB322;}
footer ul li a:hover {	color: #FCB322; opacity: .8;}
.listing .table-border{border: 1px solid #c3c3c3;}
.listing .thead-bg{background: #f5f5f5 !important;}
.listing table{color:#303030;}
.custom-checkbox .custom-control-label::before {background: #fff; border: 1px solid #afb5bb;}
.custom-control-label::before{background:#fff; border:2px solid #aeb5bd;}
.custom-radio .custom-control-input:disabled:checked ~ .custom-control-label::after{background-image: url('../../../images/radio.png');}
.custom-radio .custom-control-input:checked ~ .custom-control-label::before, .custom-checkbox .custom-control-input:checked ~ .custom-control-label::before{background: #fff;}
.custom-radio .custom-control-input:checked ~ .custom-control-label::before{border: 2px solid #259bff;}
.custom-radio .custom-control-input:checked ~ .custom-control-label::after{background-image: url('../../../images/radio.png');}
.custom-radio .custom-control-input:checked ~ .custom-control-label::before, .custom-checkbox .custom-control-input:checked ~ .custom-control-label::before{border: 2px solid #259bff;}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after{background-image: url('../../../Content/images/checkmark.png');}

.legends_profile{background:#df5966;}
.legends_Critical{background:#ef8934;}
.legends_high{background:#fbc648;}
.legends_medium{background:#4cb4fb;}
.legends_low{background:#4db567;}
.legends_air-force-blue{background:#5a97a5;}
.legends-red-damask{background:#cc6848;}
.legends-Apple{background:#76b13d;}
.legends-slate-blue{background:#7c4ace;}
.legends-Apple{background:#76b13d;}
.legends-camouflage-green{background:#747e66;}
.legends-iris-blue{background:#729bbf;}



.actions {background: #24a5ff; color:#fff;}
.actions:hover {color:#fff;}
.thead-bg th {color:#303030;}
.listing td {color:#303030;}
.map-actions span a{color:#fff;}
.filetr-icon {background:#eee; color:#555;}
.applied-filter li {background:#eee; color:#303030;}
.left-filter .card-header{background:#fff;}
.left-filter .filter-head {background-color:#525f65;}
.left-filter .filter-head h5{color: #fff;}
.left-filter .card-header a{color:#303030;}
.save-btn{background: #28a745 !important; border-color: #28a745 !important; color:#fff !important;}
.delete-btn{background: #dc3545 !important; border-color:#dc3545 !important;  color:#fff !important;}
.my-popups .modal-header {background: #525f65; color: #fff;}
.my-popups .modal-header button.close{background: #e9eaeb; outline:none; color:#000 !important;  opacity: 1;}
.my-popups .modal-header button.close:hover{background: #000 !important; outline:none;color:#fff !important;opacity: 1;}
.mandatory{color: #de3545}
.my-popups label sup{color:#dd5555;}
.actions-onclick {color:#303030;}
.close {background:#525252;}
.close:hover {color:#fff;}

.list-actions a:nth-child(9n+1) i{ color:#027fb7 }
.list-actions a:nth-child(9n+2) i{ color:#e35316 }
.list-actions a:nth-child(9n+3) i{ color:#00ae69 }
.list-actions a:nth-child(9n+4) i{ color:#d1372d }
.list-actions a:nth-child(9n+5) i{ color:#67a3bd }
.list-actions a:nth-child(9n+6) i{ color:#e4ad15 }
.list-actions a:nth-child(9n+7) i{ color:#52aebb }
.list-actions a:nth-child(9n+8) i{ color:#8d83e3 }
.list-actions a:nth-child(9n+9) i{ color:#28a0f2 }

.bottom_add_button a{background:#29a744; color:#edf7ff;}
.bottom_add_button.refresh a{background:#dc3545; color:#edf7ff;}
/*.dashbord-graph-widget .graph-widget:nth-child(3){padding-right:0px;} 
.dashbord-graph-widget .graph-widget:nth-child(6){padding-right:0px;} 
.dashbord-graph-widget .graph-widget:nth-child(9){padding-right:0px;} 
.dashbord-graph-widget .graph-widget:nth-child(12){padding-right:0px;}*/ 
.graph-widget-heading{color:#2f2f2f; background:#fafafa; border-bottom:1px solid #cccccc;}
.graph-widget-heading span{color:#5a5a5a;}

.expand_all_filters span{border-right:1px solid #3e494f; color:#dbdfe2; background:#485359;}
.expand_all_filters span:last-child{border-right:0; line-height:35px;}
.expand_all_filters span:hover{background:#353e43;}

.close:not(:disabled):not(.disabled):focus, .close:not(:disabled):not(.disabled):hover{color:#fff !important; background:#000; opacity: 1;}
button.close:hover{color:#303030 !important;}

.tab-style .nav-link {background:#d4d4d4; color:#303030;}
.tab-style .nav-tabs {position:relative; border-bottom:3px solid #414c50;}/*********border-bottom:3px solid #414c50;*********Commented by Harjit to set border bottom*********/
.tab .tab-content{position:relative;}

.reportstabbase{border-bottom:3px solid #414c50; width:100%;}/*********border-bottom:3px solid #414c50;*********Added by Harjit to add border bottom*********/
.tab-style.devicescroll .reportstabbase {    border-bottom: none;}
.tab-style .nav-link.active{background: #414c50 !important; color:#fff;}
.tab-style .nav-link.active::after{border-top:9px solid #414c50;}
.bottom_filter_button a{background:#cdcdcd; color:#303030;}
.bottom_filter_button a:hover{background:#525f65; color:#fff;}

/*.scroll-left {background:#414c50; color:#fff;}
.scroll-right {background: #414c50; color:#fff;}
.scroll-left:hover, .scroll-right:hover{ background:#454545;}*/

.scroll-left {background:#d4d4d4; color:#303030;}
.scroll-right {background:#d4d4d4; color:#303030;}
.scroll-left:hover, .scroll-right:hover{background:#454545; color:#fff;}
.Response-t {color:#fff;}
.Resolve-t {color:#fff;}
.Response-t span{color:#22f151;}
.Resolve-t span{color:#ff5454;}

.activities li.addded-ticket .c-headr{color:#fff; background:#7998d9;}
.activities li.addded-note .c-headr{color: #fff; background:#e78a6b;}
.activities li.merged-ticket .c-headr{color: #fff; background:#dbb06c;}
.c-downl .merge-tic{ color:#17a2b7;}
.c-downl .merge-tic:hover{color:#29a744;}
.note-add-leg::before {background:#e78a6b;}
.merge-t-leg::before{background:#dbb06c;}
.round-icon-split{background:#d46012; border:1px solid #b3500d;}

.light-grey{background:#858fa8;}
.light-yellow{background:#e1b60d;}
.light-green{background:#8cc87f;}
.light-blue{background:#5e91b1;}

.green-bg-light{background:#eaf0ea;}
.orange-bg-light{background:#f7f2ee;}
.yellow-bg-light{background:#f2edde;}
.blue-bg-light{background:#e3ebf0;}
.red-bg-light{background:#eaeaea;}
.grey-bg-light{background:#f5f5f5;}

.btn-primary-light{background-color:rgba(37,165,255,0.8);}
.btn-secondary-light{background-color:rgba(108,117,125,0.8);}
.btn-success-light{background-color:rgba(40,167,69,0.8);}
.btn-danger-light{background-color:rgba(220,53,69,0.8);}
.btn-warning-light{background-color:rgba(255,193,7,0.8);}
.btn-info-light{background-color:rgba(23,162,184,0.8);}
.btn-bg-dark{background-color:rgba(52,58,64,0.8);}

.btn-primary-light:hover{color: #fff; background-color:#0069d9; border-color:#0062cc;}
.btn-secondary-light:hover{color: #fff; background-color:#5a6268; border-color:#545b62;}
.btn-success-light:hover{color: #fff; background-color:#218838; border-color:#1e7e34;}
.btn-danger-light:hover{color: #fff; background-color:#c82333; border-color:#bd2130;}
.btn-warning-light:hover{color: #fff; background-color:#e0a800; border-color:#d39e00;}
.btn-info-light:hover{color: #fff; background-color:#138496; border-color:#117a8b;}
.btn-bg-dark:hover{color: #fff; background-color:#23272b; border-color:#23272b;}
.round-icon-split:hover{color:#fff;}
/*
.bg-border .green-bg-light{border-top: 5px solid #019704; background:#eaf0ea;}
.bg-border .orange-bg-light{border-top: 5px solid #f06f07; background:#eceaea;}
.bg-border .yellow-bg-light{border-top: 5px solid #ffbd20; background:#f2edde;}
.bg-border .blue-bg-light{border-top:5px solid #1886c8; background:#e3ebf0;}
.bg-border .red-bg-light{border-top: 5px solid #de0303; background:#eaeaea;}
*/

.bg-border .green-bg-light{border: 2px solid #019704; border-top: 5px solid #019704; background:none;}
.bg-border .orange-bg-light{border: 2px solid #f06f07; border-top: 5px solid #f06f07; background:none;}
.bg-border .yellow-bg-light{border: 2px solid #ffbd20;  border-top: 5px solid #ffbd20; background:none;}
.bg-border .blue-bg-light{border: 2px solid #1886c8;  border-top:5px solid #1886c8; background:none;}
.bg-border .red-bg-light{border: 2px solid #de0303;  border-top: 5px solid #de0303; background:none;}

.no-bg .green-bg-light{border: 2px solid #019704; border-top: 5px solid #019704; background:none;}
.no-bg .orange-bg-light{border: 2px solid #f06f07; border-top: 5px solid #f06f07; background:none;}
.no-bg .yellow-bg-light{border: 2px solid #ffbd20;  border-top: 5px solid #ffbd20; background:none;}
.no-bg .blue-bg-light{ border: 2px solid #1886c8;  border-top:5px solid #1886c8; background:none;}
.no-bg .red-bg-light{border: 2px solid #de0303;  border-top: 5px solid #de0303; background:none;}

.login-vandor .text-vendor{color:#ca9e7e;}
.login-vandor .text-logon{color:#76addb !important;}
.login-vandor .text-vendor:hover {color:#76addb;}
.login-vandor .text-logon:hover {color:#ca9e7e !important;}
.tab-pane.call-detail .call-content{border-color:#dee2e6;}
.add-form-field {	border-top: 1px solid #dee2e6;}

 .text-blue{color:#77addb;}
.text-brown{color:#ca9d80;}
.my-dashboard .icon{color:#f3820c;}.my-dashboard .text{color:#333b3d;}


.con-bg-circle .icon {color: #fff;}
.connector .bg-col1{background:#92ced9;}
.connector .bg-col2{background:#ffe18b;}
.connector .bg-col3{background:#d3d0ef;}
.connector .bg-col4{background:#a6cdb2;}

.connector .bg-col1 .con-bg-circle {background:#5ba0c7;}
.connector .bg-col2 .con-bg-circle {background:#f5b14e;}
.connector .bg-col3 .con-bg-circle {background:#a483b0}
.connector .bg-col4 .con-bg-circle {background:#71a380;}

.connector .bg-col1 .con-bg-circle::after {border-color:#5ba0c7;}
.connector .bg-col2 .con-bg-circle::after {border-color:#f5b14e;}
.connector .bg-col3 .con-bg-circle::after {border-color:#a483b0}
.connector .bg-col4 .con-bg-circle::after {border-color:#71a380;}

.h5{color:#454545;}
.btn-primary{background-color:#25a5ff; border-color:#25a5ff;}
.btn-danger{background-color:#dc3545; border-color:#dc3545;}
.bg-primary{background-color:#25a5ff!important; border-color:#25a5ff!important;}
.text-primary{color:#25a5ff!important;}
.dark-border{border-color:#abb5bf;}
.breadcrumb a{color:#000;}
hr{background:#ccc;}
.user-img-con{border-color:#ccc;}
.vertical-tabs .black-header.light-grey{color:#313131;}
.responsive-tabs-container{background-color: #f5f5f5; border-color:#ddd; color: #000;}
.form-control, .custom-select, .custom-file-label{color:#303030; border-color:#abb5bf;}
.input-group > .input-group-append > .input-group-text{border-color:#afb5bb; background:#f0f0f0;}
.custom-file-label::after{background:#f0f0f0;}
.tab-no{background:#424c4e;}
.tab-style .nav-link.active .tab-no{background:#fff; color:#414c50;}
.heading-border span{border-color:#525f65;}
.heading-border:after{background:#525f65;}
.lds-ring div{border-color: #ffaa24 transparent transparent transparent;}
.lds-dual-ring:after{border-color: #ffaa24 transparent #ffaa24 transparent;}
.slider{background-color: #ccc;}
input:checked + .slider{background-color: #67a7e4;}
.table-responsive{background:#fff; border:1px solid #ccc;}
.dashboard-boxes{border-color:#313131;}
.dashboard-boxes .boxes-header{background:#313131;}
.dashboard-boxes .boxes-content{background:#fff;}
table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > td.dtr-control::before, table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > th.dtr-control::before{background-color:#007bff !important; border: 2px solid #007bff !important; }
table.dataTable.dtr-inline.collapsed > tbody > tr.parent > td.dtr-control::before, table.dataTable.dtr-inline.collapsed > tbody > tr.parent > th.dtr-control::before{background-color:#454545 !important; border: 2px solid #454545 !important;}

.manage-color > .row:nth-child(1){background:#edf7ff;}
.manage-color > .row:nth-child(2){background:#e4e9ff;}
.manage-color .bg-numbr1{background:#d9eeff;}
.manage-color .bg-numbr2{background:#d7dbf4;}
.manage-color > .row:nth-of-type(odd){background:#edf7ff;}
.manage-color > .row:nth-of-type(even){background:#e4e9ff;}
.manage-color > .row:nth-of-type(odd) .bg-numbr{background:#d9eeff;}
.manage-color > .row:nth-of-type(even) .bg-numbr{background:#d7dbf4;}

footer{background:#424242;}
footer .contri_translate{background-color: #252525; border-right: 1px solid #797777;}
footer ul li a{color:#FCB322;}
footer ul li a:hover{color:#FCB322;}
.left-tab li:first-child{border-color:#dee1e6 !important;}

/*-----------------For Legends---------------------*/
.legend-blue{background:#9ad5ff;}
.legend-green{background:#8ce68c ;}
.legend-brown{background:#c79e72;}
.legend-dark{background:#525f65;}
.legend-grey{background:#525f65;}
.legend-yellow{background:#fff9e4;}
.table-bordered tr.legend-yellow {
    background: #fff9e4 !important;
}
.legend-milestone{background:rgb(255, 140, 59);}

.legend-valid{background:#24a5ff;}
.legend-expenselimit{background:#fdc107;}
.legend-totalexpenselimit{background:#d00b05;}

.legend-Progress{background:#227003;}
.legend-pending{background:#fdc107;}
.legend-ovrdue{background:#d00b05;}
.legend-upcoming{background:#24a5ff;}
.legend-light-grey{background:#dfdfdf;}



/*****Harjit Singh - todolist***********/
.lg-timesheet{background:#3ebe0b;}
.lg-addedmanually{background:#cca51d;}
.lg-bulktime{background:#43acf7;}
.lg-thirdparty{background:#f46a67;}
.lg-pending{background:#b76bf8;}
.lg-approved{background:#7c868f;}
.lg-pausedresumed{background:#3a3a3d;}
.lg-flaggedentry{background:#93604d;}

.table-bordered tr.lgtr-timesheet td:first-child::after {background: #3ebe0b;width: 2px; content: ""; height: calc(100% - 6px);  display: block; position:absolute; left:0px; top:3px;}
.table-bordered tr.lgtr-addedmanually td:first-child::after {background: #cca51d;width: 2px; content: ""; height: calc(100% - 6px);  display: block; position:absolute; left:0px; top:3px;}
.table-bordered tr.lgtr-bulktime td:first-child::after {background: #43acf7;width: 2px; content: ""; height: calc(100% - 6px);  display: block; position:absolute; left:0px; top:3px;}
.table-bordered tr.lgtr-thirdparty td:first-child::after {background: #f46a67;width: 2px; content: ""; height: calc(100% - 6px);  display: block; position:absolute; left:0px; top:3px;}
.table-bordered tr.lgtr-pending td:first-child::after {background: #b76bf8;width: 2px; content: ""; height: calc(100% - 6px);  display: block; position:absolute; left:0px; top:3px;}
.table-bordered tr.lgtr-approved td:first-child::after {background: #7c868f;width: 2px; content: ""; height: calc(100% - 6px);  display: block; position:absolute; left:0px; top:3px;}
.table-bordered tr.lgtr-pausedresumed td:first-child::after {background: #3a3a3d;width: 2px; content: ""; height: calc(100% - 6px);  display: block; position:absolute; left:0px; top:3px;}
.table-bordered tr.lgtr-flaggedentry td:first-child::after {background: #93604d;width: 2px; content: ""; height: calc(100% - 6px);  display: block; position:absolute; left:0px; top:3px;}

.table-bordered tr.lgtr-pendingred td:first-child::after {background: #df5966;width: 2px; content: ""; height: calc(100% - 6px);  display: block; position:absolute; left:0px; top:3px;}

/*****Harjit Singh - todolist***********/

/*****Harjit Singh General Timesheet removed inn table bar on Mishra's PC******************/
.table-bordered tr.gt-low-bar td.tabchild:first-child::after{ width: 2px; content: ""; height: calc(100% - 6px); background:#019704;  display: block; position:absolute; left:0px; top:3px; }
.table-bordered tr.gt-high-bar td.tabchild:first-child::after{ width: 2px; content: ""; height: calc(100% - 6px); background:#fbc648;  display: block; position:absolute; left:0px; top:3px; }
.table-bordered tr.gt-medium-bar td.tabchild:first-child::after{ width: 2px; content: ""; height: calc(100% - 6px); background:#4cb4fb;  display: block; position:absolute; left:0px; top:3px; }
.table-bordered tr.gt-high-profile-bar td.tabchild:first-child::after{ width: 2px; content: ""; height: calc(100% - 6px); background:#de0303;  display: block; position:absolute; left:0px; top:3px; }
.table-bordered tr.gt-lgtr-pausedresumed td.tabchild:first-child::after {background: #3a3a3d;width: 2px; content: ""; height: calc(100% - 6px);  display: block; position:absolute; left:0px; top:3px;}
/*****Harjit Singh General Timesheet removed inn table bar on Mishra's PC******************/

.legends_profile {
    background: #df5966;
}

.login-user a{color:#78add7; font-size:13px;}
.vendor a{color:#ca9f7f; font-size:13px;}
.bg-grey{background:#ebebeb;}
.alert-message .close{background:#e9eaeb; color: #000;}
.h5 small a{color:#303030;}
.navbar-expand-lg .navbar-nav .dropdown-menu-right.subsmenu{background:#454547;}
#sidebar .nav-item {border-bottom:1px solid #242424;}
#sidebar .sidebar-toggle{background: #313131;}
#sidebar.active .sidebar-toggle{background:#313131;}
.left-tab li{border-color:#dee1e6;}
.dashbord-widget li{background: #ccc; border-color:#000;}
.table-border{border:1px solid #c3c3c3;}
.thead-bg th{background:#f5f5f5;}
.table-bordered tr { border-bottom: 1px solid #c6cace;}
.table-bordered thead tr { border-bottom: 2px solid #c6cace;}
.thead-bg tr{border-top:0;}
.search .form-control{border:1px solid #afb5bb;}
.list-actions{background: #fff; border: 1px solid #bcbcbc;}
.listing .nu-paging{border-color:#c3c3c3;}
.graph-widget-box{border:1px solid #ccc;}
.left-filter .card-header h5 .rotate-icon{color:#585858;}
.main-container{border-top:2px solid #454545;}

.table-bordered tr.high-profile-bar td:first-child::after{ width: 3px; content: ""; height: calc(100% - 6px); background:#de0303;  display: block; position:absolute; left:0px; top:3px; }
.table-bordered tr.critical-bar td:first-child::after{ width: 3px; content: ""; height: calc(100% - 6px); background:#f06f07;  display: block; position:absolute; left:0px; top:3px; }
.table-bordered tr.high-bar td:first-child::after{ width: 3px; content: ""; height: calc(100% - 6px); background:#fbc648;  display: block; position:absolute; left:0px; top:3px; }
.table-bordered tr.medium-bar td:first-child::after{ width: 3px; content: ""; height: calc(100% - 6px); background:#4cb4fb;  display: block; position:absolute; left:0px; top:3px; }
.table-bordered tr.low-bar td:first-child::after{ width: 3px; content: ""; height: calc(100% - 6px); background:#019704;  display: block; position:absolute; left:0px; top:3px; }
.table-bordered tr.danger-bar td:first-child::after{ width: 3px; content: ""; height: calc(100% - 6px); background:#019704;  display: block; position:absolute; left:0px; top:3px; }
.table-bordered tr.warning-bar td:first-child::after{ width: 3px; content: ""; height: calc(100% - 6px); background:#019704;  display: block; position:absolute; left:0px; top:3px; }

.card-box{border:1px solid #ccc;}
.card-number{color:#000;}
.card-heading{color:#000;}
.card-detail{color:#555555;}
.bottom-action{border-top:1px solid #cbcbcb;}
.card-date{color:#555;}
.conversation-main:before{background: #303030;}
.conversation-time span:after{background:#fff;}
.conversation-box:before{border-right: 10px solid #dee2e6;}
.conversation-box{border:1px solid #dee2e6;}
.conversation-box .name-circle{border:3px solid #fff;}
.conversation-box .conversation-header span{color:#000;}
.conversation-box .conversation-header span.sender-name{color:#000;}
.conversation-box .conversation-header span.sender-department{color:#69767f;}
.conversation-content{color:#69767f;}
.activity-tab .card-header a{color:#000;}
.verticle-action > i{color:#999; cursor:pointer;}
.verticle-action > i:hover{color:#555;}

.user-guide{color:#000;}
.user-guide a{color:#000;}
.user-guide a:hover{color:#454545;}

.add-custom .list-group-item:hover, .add-custom .list-group-item.selected{background:#f1f1f1;}
.add-column a{background:#f1f1f1;}
.connector .con-bg-circle::after{border:8px solid #000;}    
.task-color{color:#000;}
.task-color a{color:#000;}

.custom-accr .card-header{background:#f5f5f5;}
.custom-accr .card .card-body{border:1px solid #ccc;}
.custom-accr .card .card-header a:not(.collapsed):not(.card-link){background:#525f65;}

.links-box{border-bottom:1px solid #c6c6c6;}
.links-box div.button.disabled{background:#f5f5f5; color:#a7a7a7;}
.links-box div.button a i{color:#929292;}

.page-menu{ background: #454545;}
/*.page-menu .menu-box:nth-child(n+1){background:#454545;}
.page-menu .menu-box:nth-child(n+2){background:#363636;}
.page-menu .menu-box:nth-child(n+3){background:#454545;}
.page-menu .menu-box:nth-child(n+4){background:#363636;}
.page-menu .menu-box:nth-child(n+5){background:#454545;}*/


.page-menu .menu-box:nth-child(5n+1) a {background: #7bb3ca;}
.page-menu .menu-box:nth-child(5n+2) a {background: #d3d0ef;}
.page-menu .menu-box:nth-child(5n+3) a {background: #ffe18b;}
.page-menu .menu-box:nth-child(5n+4) a {background: #a6cdb2;}
.page-menu .menu-box:nth-child(5n+5) a {background: #92ced9;}
.page-menu .menu-box:nth-child(5n+5) a {background: #92ced9;}

/**********************New Menu***********************/

.navigation-panel ul li:not(.itemhover):nth-child(2n){background:#e6e6e6;}
.navigation-panel ul:first-child li:nth-child(5n+1) a i{color:#09519b;}
.navigation-panel ul:first-child li:nth-child(5n+2) a i{color:#da9c49;}
.navigation-panel ul:first-child li:nth-child(5n+3) a i{color:#e44d2e;}
.navigation-panel ul:first-child li:nth-child(5n+4) a i{color:#446a7f;}
.navigation-panel ul:first-child li:nth-child(5n+5) a i{color:#cbb00b;}

.navigation-panel ul:nth-child(2n) li:nth-child(5n+1) a i{color:#6a925d;}
.navigation-panel ul:nth-child(2n) li:nth-child(5n+2) a i{color:#756caf;}
.navigation-panel ul:nth-child(2n) li:nth-child(5n+3) a i{color:#9ea476;}
.navigation-panel ul:nth-child(2n) li:nth-child(5n+4) a i{color:#7d6a59;}
.navigation-panel ul:nth-child(2n) li:nth-child(5n+5) a i{color:#756bb2;}

.navigation-panel ul:nth-child(3n) li:nth-child(5n+1) a i{color:#dda628;}
.navigation-panel ul:nth-child(3n) li:nth-child(5n+2) a i{color:#29b0ce;}
.navigation-panel ul:nth-child(3n) li:nth-child(5n+3) a i{color:#2d7fb9;}
.navigation-panel ul:nth-child(3n) li:nth-child(5n+4) a i{color:#da9c49;}
.navigation-panel ul:nth-child(3n) li:nth-child(5n+5) a i{color:#4aaab8;}

.navigation-panel ul li a:hover i{color:#fff !important;}

.navigation-panel ul li.itemhover{color:#fff!important;}


.navigation-panel ul li .popover{background-color:#525f65;}

.navigation-panel ul li .bs-popover-right .arrow::after{border-right-color:#525f65;}
.navigation-panel ul li .bs-popover-left .arrow::after{border-left-color:#525f65;}


/**********************New Menu***********************/

.short-menu-item {  background-color: #f7f7f7;border: 1px solid #cfcfcf; color:#333335;}
.left-icon-m {  background-color: #eaeaea; }


.shortcuts-menu li:nth-child(9n+1) .left-icon-m i{color:#216bca;}
.shortcuts-menu li:nth-child(9n+2) .left-icon-m i{color:#63983e;}
.shortcuts-menu li:nth-child(9n+3) .left-icon-m i{color:#575b6f;}
.shortcuts-menu li:nth-child(9n+4) .left-icon-m i{color:#43a38a;}
.shortcuts-menu li:nth-child(9n+5) .left-icon-m i{color:#cc7d38;}
.shortcuts-menu li:nth-child(9n+6) .left-icon-m i{color:#735da5;}
.shortcuts-menu li:nth-child(9n+7) .left-icon-m i{color:#7e6c5e;}
.shortcuts-menu li:nth-child(9n+8) .left-icon-m i{color:#e3644b;}
.shortcuts-menu li:nth-child(9n+9) .left-icon-m i{color:#dcad3a;}
/*.shortcuts-menu li:nth-child(10n+10) .left-icon-m i{color:#4581d0;}*/


.shortcuts-menu li:nth-child(9n+1):hover .short-item-name{color:#216bca;}
.shortcuts-menu li:nth-child(9n+2):hover .short-item-name{color:#63983e;}
.shortcuts-menu li:nth-child(9n+3):hover .short-item-name{color:#575b6f;}
.shortcuts-menu li:nth-child(9n+4):hover .short-item-name{color:#43a38a;}
.shortcuts-menu li:nth-child(9n+5):hover .short-item-name{color:#cc7d38;}
.shortcuts-menu li:nth-child(9n+6):hover .short-item-name{color:#735da5;}
.shortcuts-menu li:nth-child(9n+7):hover .short-item-name{color:#7e6c5e;}
.shortcuts-menu li:nth-child(9n+8):hover .short-item-name{color:#e3644b;}
.shortcuts-menu li:nth-child(9n+9):hover .short-item-name{color:#dcad3a;}
/*.shortcuts-menu li:nth-child(10n+10):hover .short-item-name{color:#4581d0;}*/

/*****************eta-setting----------------*/

.eta-setting {  background-color: #ffffff;  border: 1px solid #2196f3;  }
.eta-setting .timelegend.min10 {  background-color: #96d52d;}
.eta-setting .timelegend.min20 {  background-color: #f0c141;}
.eta-setting .timelegend.min30 {  background-color: #f18d76;}
.eta-setting .toggle {   color: #999;  background-color: transparent; }
input:checked + .toggle {  background: #448ee4;  color: #fff;}
.eta-setting::after {  color: #2196f3;  }

/*-----------------eta-setting****************/
.table-bordered tr.danger-bar td:first-child::after {background: #ff0000; }
.table-bordered tr.critical-bar td:first-child::after {background: #f06f07; }
.table-bordered tr.high-profile-bar td:first-child::after{background:#de0303;   }
.table-bordered tr.high-bar td:first-child::after{ background:#fbc648; }
.table-bordered tr.medium-bar td:first-child::after{background:#4cb4fb;  }
.table-bordered tr.low-bar td:first-child::after{  background:#019704;  }
.table-bordered tr.warning-bar td:first-child::after{background:#fdc107;}
.Timer.manually-time{color: #fff; background: #1abdac;}
.Timer.auto-time{color: #fff; background:#24a5ff;}
.blue-time{color: #24a4fd;}
/**********************New Menu***********************/
/********************ticketing***************************/
.Timer.critical-color{background:#dc3546;}
.Timer.medium-color{background:#dd8b0e;}
.Timer.low-color{background:#009901;}
.flag-color{color:#0084e3;}
.call-color{color:#0172b8;}
.video-color{color:#f5941f;}
.sms-color{color:#51b7ff;}
.chat-color{color:#31cdb7;}
.timer-green{color:#247004;}
.timer-red{color:#d10a03;}
.timer-green-bg{background:#247004;}
.timer-red-bg{background:#d10a03;}
.yellow-mark{background:#f7f699;}
.high-prio{color:#dd8b0e;}
.critical-prio{color:#d10a07;}
.medium-prio{color:#23a4ff;}
.low-prio{color:#009901;}
.noti-blue{background:#25a5fc !important; color:#fff;}
.noti-green{background:#4fb262; color:#fff;}
.noti-orange{background:#da8a0d; color:#fff;}

.green-bg-dark{background:#019704;}
.orange-bg-dark{background:#f06f07;}
.yellow-bg-dark{background:#ffbd20;}
.blue-bg-dark{background:#1886c8;}
.green-shade{background:#117b8b;}

/********************ticketing***************************/

/********************expense***************************/	
.progress-orange{background-color:#fda329; border-radius: .25em;}	
.progress-green{background-color:#3ccb3e; border-radius: .25em;}	
.progress-red{background-color:#fb582f; border-radius: .25em;}	
	
		
/********************expense card view***************************/	
.card-pending{background:#f3f5f6;border-top:6px solid #1886c8}	
.card-correction{background:#f6f4ed;border-top:6px solid #ffbd20}	
.card-approved{background:#eff6ef;border-top:6px solid #019704}	
.card-pending .icon_box{border:2px solid #1886c8}	
.card-correction .icon_box{border:2px solid #ffbd20}	
.card-approved .icon_box{border:2px solid #019704}	
		
/********************project management time track on ***************************/	
.txt_progress{color:#23a4ff}	
.txt_pending{color:#cdac37}	
.txt_overdue{color:#e05f37}	
.txt_upcoming{color:#37cdaf}	
.txt_inprogress{color:#17a2b8}
.txt_to-upcoming{color:#78909C}
		
/********************project management time track on project detail popup  ***************************/	
.bg-sky{background:#52aed5!important}	
.bg-blue{background:#0085e0!important}	
.bg-lightgreen{background:#72d9c8!important}	
.bg-yellow{background:#e7c52d!important}
.bg-red{background:#dc3545!important}	
	
/********************expense***************************/


@media (max-width:1023px)
{
/*.user-guide{background-color:#e1e1e1;}**642216 - Harjit 6May2022****/
nav .collapse.show{background: #272727;}
.table-heading-wb .actionbtn a{border-right: 1px solid #262626;}	
}

@media (max-width:767px)
{
.tab-style .nav-link{background:rgba(0,0,0,.03); border:1px solid rgba(0,0,0,.125)!important; font-size:1rem!important; font-weight: normal;} 	
.tab-style .nav-link:hover{color:#fff; background:#525f65!important;}
.loginbg .jumbotron{background:#333335 !important;}
.login-container{background:#333335 !important;} 
.p-action-btn{border-bottom: 2px solid #4d5a60;}


}

.card-description{background: #eceaea;border: 1px solid #ccc;}

/*star rating gaurav dhiman*/
.star-rating s:hover,
.star-rating s.active {
    color: orange;
}

.star-rating-rtl s:hover,
.star-rating-rtl s.active {
    color: orange;
}

.star-rating s,
.star-rating-rtl s {
    color: black;
    font-size: 30px;
    cursor: default;
    text-decoration: none;
    line-height: 50px;
}

.star-rating {
    padding: 2px;
}

    .star-rating s:hover:before,
    .star-rating s.rated:before,
    .star-rating s.active:before {
        content: "\2605";
    }

    .star-rating s:before {
        content: "\2606";
    }

.star-rating-rtl s:hover:after,
.star-rating-rtl s.rated:after,
.star-rating-rtl s.active:after {
    content: "\2605";
}

.star-rating-rtl s:after {
    content: "\2606";
}
/*star rating gaurav dhiman*/

.Timer.manually-time {
    color: #fff;
    background: #1abdac;
}

.Timer.auto-time {
    color: #fff;
    background: #24a5ff;
}

.blue-time {
    color: #24a4fd;
}

.feedback-box .name-circle{background: #e7e7e7;color: #494949;border-color: #fff;}


/*gaurav dhiman doc icons*/
.doc-ico-legend .fa-file-archive-o{color:rgb(253, 182, 20);}
.doc-ico-legend .fa-file-excel-o{color:#1a7343;}
.doc-ico-legend .fa-file-pdf-o{color:rgb(197, 6, 6)}
.doc-ico-legend .fa-file-word-o{color:rgb(42, 85, 153)}
.doc-ico-legend .fa-file-o{color:rgb(47, 132, 221)}
.doc-ico-legend .fa-file-image-o{color:#955c8a}
.doc-ico-legend .fa-file-text-o{color:#3c99f0;}


.doc-icon .fa-file-archive-o{color:rgb(253, 182, 20);}
.doc-icon .fa-file-excel-o{color:#1a7343;}
.doc-icon .fa-file-pdf-o{color:rgb(197, 6, 6)}
.doc-icon .fa-file-word-o{color:rgb(42, 85, 153)}
.doc-icon .fa-file-o{color:rgb(47, 132, 221)}
.doc-icon .fa-file-image-o{color:#955c8a}
.doc-icon .fa-file-text-o{color:#3c99f0;}
.storagegraph .progress-bar{background-color: #b0d7f6;}
.storagegraph .progress-bar-striped {
background-image: linear-gradient(-45deg,rgb(187, 221, 247) 25%,#a7cae8 25%,#a7cae8 50%,rgb(187, 221, 247) 50%,rgb(187, 221, 247) 75%,#a7cae8 75%,#a7cae8);}
.position-unset .full-menu-new .collps:hover{background: #000 !important; outline:none;color:#303030 !important;opacity: 1;}
.left-menu-tab .list-group-item {background-color: #f1f1f1; }
.ml-cutomf-bg{background:#f1f1f1 !important; border: 1px solid #dcdcdc;}
.ml-cutomf-bg .labeltext .form-control:disabled { background-color: #fff !important; } 


/*gaurav dhiman doc icons*/
.left-menu-tab h5 a.tab-Search-btn i {color:#28a745 !important}
.timer_respbase .heading {    color: #777;  }
.table-bordered thead tr.btop{border-top: 1px solid #c6cace;}

.actions-onclick .fa.fa-pencil { color: #28a745 !important;}
.actions-onclick .fa.fa-eye { color: #25a5ff !important;}
.actions-onclick .fa.fa-trash { color: #dc3545 !important;}
.actions-onclick .fa.disabled { color: #a7aeb3 !important; cursor: not-allowed !important;pointer-events:none;}
.parent-childrow{background: #525f65;}

.custom-drop-down ul li ul a i{ color: #007bff; }
.custom-drop-down ul li ul li ul a i{ color: #6da254; }
.custom-drop-down ul li ul li ul li ul a i{ color: #f6ad3a; }
.custom-drop-down ul li ul li ul li ul li ul a i{ color: #0081b5; }
.custom-drop-down ul li ul li ul li ul li ul li ul a i{ color: #6f71d2; }


/*For to do list*/
.tdl-legend-overdue{background:#e05f37;}
.tdl-legend-pending{background:#cdac37;}
.tdl-legend-progress{background:#17a2b8;}
.tdl-legend-completed{background:#23a4ff;}
.tdl-legend-upcoming{background:#78909C;}
.table-bordered tr{background:none !important;}
.table-bordered tr.tdl-legend-overdue td:first-child::after{ width: 3px; content: ""; height: calc(100% - 6px); background:#e05f37;  display: block; position:absolute; left:0px; top:3px; }
.table-bordered tr.tdl-legend-pending td:first-child::after{ width: 3px; content: ""; height: calc(100% - 6px); background:#cdac37;  display: block; position:absolute; left:0px; top:3px; }
.table-bordered tr.tdl-legend-progress td:first-child::after{ width: 3px; content: ""; height: calc(100% - 6px); background:#17a2b8;  display: block; position:absolute; left:0px; top:3px; }
.table-bordered tr.tdl-legend-completed td:first-child::after{ width: 3px; content: ""; height: calc(100% - 6px); background:#23a4ff;  display: block; position:absolute; left:0px; top:3px; }
.table-bordered tr.tdl-legend-upcoming td:first-child::after{ width: 3px; content: ""; height: calc(100% - 6px); background:#78909C;  display: block; position:absolute; left:0px; top:3px; }

.bg-border .tdl-legend-overdue { border: 2px solid #e05f37; border-top: 5px solid #e05f37; background: none; }
.bg-border .tdl-legend-pending { border: 2px solid #cdac37; border-top: 5px solid #cdac37; background: none; }
.bg-border .tdl-legend-progress { border: 2px solid #17a2b8; border-top: 5px solid #17a2b8; background: none; }
.bg-border .tdl-legend-completed { border: 2px solid #23a4ff; border-top: 5px solid #23a4ff; background: none; }
.bg-border .tdl-legend-upcoming { border: 2px solid #78909C; border-top: 5px solid #78909C; background: none; }
.bootstrap-datetimepicker-widget table td.day.screenshotavailable {background: #007bff !important;color: #fff !important;}

.bg-lblue {    background-color: #edf7ff;}
.taskclass .vue-treeselect__multi-value-item{ background: #eaeaea ; color: #303030 ;}
.taskclass .vue-treeselect--has-value .vue-treeselect__multi-value { margin-bottom: 0 ; padding: 5px ; }
.taskclass .vue-treeselect__value-remove { color: #303030 ; }
.virtual-desk-legend{ background: #d8d8d8 !important;}
.virtual-desk-bg{ background: #f0f0f0;}

tr td.content {    background: #fbfbfb;}
.has-value .input-tel__input[data-v-e59be3b4]{border-color:rgb(220, 53, 69) !important;}
.has-value.is-valid .input-tel__input[data-v-e59be3b4]{border-color:yellowgreen !important;}

/*purchase order css Gaurav Dhiman*/
/*.purchase-order .heading{background:rgb(242, 242, 242);}
.purchase-order .thead{}
.purchase-order .thead td{background:rgb(242, 242, 242);border:1px solid rgb(198, 198, 198); }
.purchase-order .tbody{}
.purchase-order .tbody td{border:1px solid rgb(198, 198, 198);}*/
/*purchase order css Gaurav Dhiman end*/

/*email-marketing pop-up gaurav*/
.card-select{background:#525f65}
.card-select .card-text label{background:#525f65;color:white;}

/*email-marketing pop-up gaurav*/

/********Resource Scheduling-userguide icon-Harjit Singh*********************/
.rs-userguide{background-color: transparent !important; background-image:url('/Content/images/user-guide-img-white.png'); width:20px; height:16px; display:inline-block; background-repeat:no-repeat;}
/********Resource Scheduling-userguide icon-Harjit Singh*********************/

.subscription-main .subscription-list{}
.subscription-main .subscription-list li:nth-child(5n+1) h3 {color: #fff;  background: #0cb08b;}
.subscription-main .subscription-list li:nth-child(5n+1) .card { border: 2px solid #0cb08b; }
.subscription-main .subscription-list li:nth-child(5n+1) .license-header .prog-head { background: #0cb08b; color: #fff; }
.subscription-main .subscription-list li:nth-child(5n+1) .price-row { background: #0cb08b;}


.subscription-main .subscription-list li:nth-child(5n+2) h3 {color: #fff;  background: #fcb13c;}
.subscription-main .subscription-list li:nth-child(5n+2) .card { border: 2px solid #fcb13c; }
.subscription-main .subscription-list li:nth-child(5n+2) .license-header .prog-head { background: #fcb13c; color: #fff; }
.subscription-main .subscription-list li:nth-child(5n+2) .price-row { background: #fcb13c;}


.subscription-main .subscription-list li:nth-child(5n+3) h3 {color: #fff;  background: #fe6847;}
.subscription-main .subscription-list li:nth-child(5n+3) .card { border: 2px solid #fe6847; }
.subscription-main .subscription-list li:nth-child(5n+3) .license-header .prog-head { background: #fe6847; color: #fff; }
.subscription-main .subscription-list li:nth-child(5n+3) .price-row { background: #fe6847;}


.subscription-main .subscription-list li:nth-child(5n+4) h3 {color: #fff;  background: #3787cc;}
.subscription-main .subscription-list li:nth-child(5n+4) .card { border: 2px solid #3787cc; }
.subscription-main .subscription-list li:nth-child(5n+4) .license-header .prog-head { background: #3787cc; color: #fff; }
.subscription-main .subscription-list li:nth-child(5n+4) .price-row { background: #3787cc;}


.subscription-main .subscription-list li:nth-child(5n+5) h3 {color: #fff;  background: #17a2b8;}
.subscription-main .subscription-list li:nth-child(5n+5) .card { border: 2px solid #17a2b8; }
.subscription-main .subscription-list li:nth-child(5n+5) .license-header .prog-head { background: #17a2b8; color: #fff; } 
.subscription-main .subscription-list li:nth-child(5n+5) .price-row { background: #17a2b8;} 

.navbar-dark .navbar-nav .nav-link { color: rgb(255, 255, 255) }
.border-tab-pane{border:1px solid #dee2e6 !important;}

.ddlTaskdd-container .disabled{background:#E0E0E0;}

/* Expense card view and kanban view */
.bg-border .ex-green-bg-light{border: 1px solid #dee2e6; border-top: 5px solid #019704; background:#eff6ef;}
.bg-border .ex-green-bg-light .expense-icon{border-color:#019704}
.bg-border .ex-orange-bg-light{border: 1px solid #dee2e6; border-top: 5px solid #f06f07; background:#f4f4f4;}
.bg-border .ex-orange-bg-light .expense-icon{border-color:#f06f07}
.bg-border .ex-yellow-bg-light{border: 1px solid #dee2e6;  border-top: 5px solid #ffbd20; background:#fbf9f5;}
.bg-border .ex-yellow-bg-light .expense-icon{border-color:#ffbd20}
.bg-border .ex-blue-bg-light{border: 1px solid #dee2e6;  border-top:5px solid #1886c8; background:#f3f5f6;}
.bg-border .ex-blue-bg-light .expense-icon{border-color:#1886c8}
.bg-border .ex-red-bg-light{border: 1px solid #dee2e6;  border-top: 5px solid #de0303; background:#f4f4f4;}
.bg-border .ex-red-bg-light .expense-icon{border-color:#de0303}

.overdue .expense-icon{border-color:#1886c8}
.progres .expense-icon{border-color:#019704}
.pending .expense-icon{border-color:#ffbd20}
.canceled .expense-icon{border-color:#f06f07}
.rejected .expense-icon{border-color:#ee1313}

/***************** wizards for-default-theme*******************/
#choosewizards .shortcuts-menu li:nth-child(9n+1) .left-icon-m{border-color:#216bca;}
#choosewizards .shortcuts-menu li:nth-child(9n+2) .left-icon-m{border-color:#63983e;}
#choosewizards .shortcuts-menu li:nth-child(9n+3) .left-icon-m{border-color:#575b6f;}
#choosewizards .shortcuts-menu li:nth-child(9n+4) .left-icon-m{border-color:#43a38a;}
#choosewizards .shortcuts-menu li:nth-child(9n+5) .left-icon-m{border-color:#cc7d38;}
#choosewizards .shortcuts-menu li:nth-child(9n+6) .left-icon-m{border-color:#735da5;}
#choosewizards .shortcuts-menu li:nth-child(9n+7) .left-icon-m{border-color:#7e6c5e;}
#choosewizards .shortcuts-menu li:nth-child(9n+8) .left-icon-m{border-color:#e3644b;}
#choosewizards .shortcuts-menu li:nth-child(9n+9) .left-icon-m{border-color:#dcad3a;}

#choosewizards .shortcuts-menu li:nth-child(9n+1) .left-icon-m i{color:#216bca;}
#choosewizards .shortcuts-menu li:nth-child(9n+2) .left-icon-m i{color:#63983e;}
#choosewizards .shortcuts-menu li:nth-child(9n+3) .left-icon-m i{color:#575b6f;}
#choosewizards .shortcuts-menu li:nth-child(9n+4) .left-icon-m i{color:#43a38a;}
#choosewizards .shortcuts-menu li:nth-child(9n+5) .left-icon-m i{color:#cc7d38;}
#choosewizards .shortcuts-menu li:nth-child(9n+6) .left-icon-m i{color:#735da5;}
#choosewizards .shortcuts-menu li:nth-child(9n+7) .left-icon-m i{color:#7e6c5e;}
#choosewizards .shortcuts-menu li:nth-child(9n+8) .left-icon-m i{color:#e3644b;}
#choosewizards .shortcuts-menu li:nth-child(9n+9) .left-icon-m i{color:#dcad3a;}
/***************** wizards for-default-theme*******************/

/***Customize dropdown for Project listing screen-Harjit 5May2022*****/
select.form-control.customized_ddl {background-color: #3d484d; color:#fff; border-color:#62686a; background-image: url(/Content/Responsive/images/drop-down-arrow-dark.png);}
/***Customize dropdown for Project listing screen-Harjit 5May2022*****/
